/.idea/
/api-gateway/.mvn/wrapper/maven-wrapper.jar
/user/.mvn/wrapper/maven-wrapper.jar
/api-gateway/.mvn/wrapper/maven-wrapper.properties
/user/.mvn/wrapper/maven-wrapper.properties
/api-gateway/mvnw
/user/mvnw
/api-gateway/mvnw.cmd
/user/mvnw.cmd
/db/target/**
/observability/grafana/grafana.db
/observability/grafana/plugins
/.env/
/keys/**